* {
    /* may be relavent */
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

img {
    max-width: 40%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

/*nav {
    background-color: gray;
}*/

.navbar {
    background-color: gray;
}