* {
    /* may be relavent */
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}

/* may need to change to regular Roboto */
body {
    font-family: 'Roboto Condensed', sans-serif;
}

ul {
    list-style-type: none;
}

img {
    max-width: 40%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

/*nav {
    background-color: gray;
}*/

.navbar {
    background-color: gray;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    color: #f9faf8;
    font-size: 24px;
}

.navbar .nav {
    display: flex;
}